#Cadre1
{
    width: 700px;
    height: 600px;
    padding: 2%;
    position: relative;
    top: 20%;
    margin-bottom: 20%;
    left: 27%;
    border : 8px groove teal;
}

#Cadre2
{
    width: 100%;
    height: 100%;
    border : 8px solid purple;
    text-align: center;

}
#bttnconnex
{
    display: block;
    margin: auto;
}
#mytable
{   
    align-content: center;

}